<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ns2:chatlet-engine xmlns:ns2="http://www.imseam.com/">
    <connectors>
        <connector name="JML" class-name="com.imseam.connector.msn.jml.JMLConnector"/>
        <connector name="XMPP" class-name="com.imseam.connector.xmpp.ImseamXMPPConnector"/>
        <connector name="MULTILINEXMPP" class-name="com.imseam.connector.xmpp.multiline.MultiLineXMPPConnector"/>
        <connector name="GeneralMessengerConnector" class-name="com.imseam.connector.generic.GenericConnector"/>
        <connector name="NettyTestConnector" class-name="com.imseam.connector.test.netty.NettyConnector"/>
    </connectors>
    <chatlet-apps>
        <chat-app application-name="Test chatlet app Name">
			<init-params>
		     	<param>
		     		<name>REQUEST_TASK_DISTRIBUTOR</name>
		    		<value>com.imseam.raptor.cluster.redis.jedis.JedisClusterInvocationDistributor</value>
		    	</param>
		    	<param>
		    		<name>CLUSTER_STORAGE</name>
		    		<value>com.imseam.raptor.cluster.redis.jedis.JedisClusterStorage</value>
		    	</param>
		    	<param>
		    		<name>MEETING_STORAGE</name>
		    		<value>com.imseam.raptor.cluster.redis.jedis.JedisMeetingStorage</value>
		    	</param>
		    	<param>
		    		<name>REDIS_HOST</name>
		    		<value>localhost</value>
		    	</param>
		    	<param>
		    		<name>REDIS_PORT</name>
		    		<value>6379</value>
		    	</param> 
        	</init-params>
            <connections>
                <connection password="shengjiu1" service-ID="MSN" host-user-ID="jml.test1@hotmail.com" connection-name="JML Test" connector-ref="JML"/>
                <connection password="" service-ID="NettyTest" host-user-ID="server1" connection-name="Netty Test server 1" connector-ref="NettyTestConnector">
	                <init-params>
		        		<param>
		        			<name>port</name>
		        			<value>17001</value>
		        		</param>
        			</init-params>
                </connection>                
                <connection password="SHENGJIU1" service-ID="GOOGLE" host-user-ID="imseam.test1@gmail.com" connection-name="Google Test" connector-ref="XMPP">
	                <init-params>
		        		<param>
		        			<name>host-ip</name>
		        			<value>talk.google.com</value>
		        		</param>
		        		<param>
		        			<name>host-port</name>
		        			<value>5222</value>
		        		</param>
		        		<param>
		        			<name>host-domain</name>
		        			<value>gmail.com</value>
		        		</param> 	        		
        			</init-params>
                </connection>
            </connections>
            <listeners>
                <listener listener-class="com.imseam.cdi.chatlet.ChatletEventListener" name="cdi-listener"/>
                <listener listener-class="com.imseam.raptor.cluster.redis.jedis.JedisSystemEventListener" name="jedis-listener"/>
                
            </listeners>
            <chatlet chatlet-class="com.imseam.cdi.chatlet.ChatletEventListener"/>
            <meeting-event-listener meeting-event-listener-class="com.imseam.cdi.chatlet.ChatletEventListener"/>
        </chat-app>
    </chatlet-apps>
</ns2:chatlet-engine>

