chat4Assist-web-url=http\://localhost/ImseamWeb
chat4Assist-web-Security-url=https\://localhost/ImseamWeb
table-page-size=7
chat-server-facade-jndi=ImseamChatBoard/ChatServerAction/local
registrationValidate-page-url=/RegistrationValidate.seam?ticketNumber=
messengerUserLinkValidate-page-url=/MessengerUserLinkValidate.seam?ticketNumber=
webChat-url-prefix=https\://localhost/ImseamWeb/ChatRoom.seam?stationID=
chat4Assist-WebIcon-url=https\://localhost/ImseamWeb/WebChatIcon.seam?stationID=Imseam
statistics-Picture-Folder=C:\\Working\\jboss-4.0.5.GA\\server\\default\\deploy\\a5.ear\\a5.war\\StatisticsPictures\\
leftmessagesValidateLink-page-url=/LeftMessages.seam

#admin users name should be seperated by comma like user1,user2,user3
admin-users=xfwebs@163.com